.app-item-container {
  display: flex;
  flex-direction: row;
  background-color: #CDCDCD;
  flex-basis: 100%;
  border-radius: 8px;
  margin: 8px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
}

.title-and-creator-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}