.appitem-container {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

/* contains app title, subtitle, creator, and tags */
.appitem-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
}

/* contains app title and creator */
.appitem-title-and-creator-container {
  display: flex;
  flex-direction: row;
  
  /* make title and creator on opposite sides, same horizotal level */
  justify-content: space-between;
  align-items: center;
}
