/* contains everything in that app */
.appitem-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* contains app title, subtitle, creator, and tags */
.appitem-right-container {
  flex-grow: 1;
  text-align: left;
  overflow: hidden;
}

/* contains app title and creator */
.appitem-title-and-creator-container {
}

/* Hover to indicate that the item is clickable */
.appitem-box:hover {
  box-shadow: 0 0 3px 5px #def;
}
