# Ignore node modules
/node_modules

# Ignore configuration files
/config

# Ignore the store metadata
/store

# Ignore mac filesystem files
**/.DS_Store

# Ignore test files
/src/_isolator_generated_files_
/config-overrides.js
