/* Container holding the checkmark */
.InstallOrUninstallSuccess-checkmark {
  overflow: hidden;
  margin: 0;
  padding: 0;

  max-height: 0px;

  -webkit-animation-name: InstallOrUninstallSuccess-pop;
  -webkit-animation-duration: 2s;
  animation-name: InstallOrUninstallSuccess-pop;
  animation-duration: 2s;
}

/* The checkmark icon itself */
.InstallOrUninstallSuccess-checkmark-icon {
  font-size: 250px;
}

/* Pop in and then slide out */
@keyframes InstallOrUninstallSuccess-pop {
  0% {
    transform: scale(0.7);
    opacity: 0;
    max-height: 300px;
  }
  30% {
    transform: scale(1.1);
    opacity: 1;
  }
  35% {
    transform: scale(1);
  }
  80% {
    max-height: 300px;
    opacity: 1;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}

/* Slide in of all other content */
.InstallOrUninstallSuccess-other-content {
  -webkit-animation-name: InstallOrUninstallSuccess-wait-then-enter;
  -webkit-animation-duration: 2s;
  animation-name: InstallOrUninstallSuccess-wait-then-enter;
  animation-duration: 2s;
}

@keyframes InstallOrUninstallSuccess-wait-then-enter {
  0% {
    opacity: 0;
  }
  82% {
    max-height: 0;
    opacity: 0;
  }
  99% {
    max-height: 300px;
    opacity: 1;
  }
  100% {
    max-height: 100vh;
  }
}
