/* Container for catalog title */
.catalogtitle-container {
  /* Simple padding to center text nicely */
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 20px;
}

/* Empty class for catalog title, mainly for specific element identification */
.catlogtitle-title {

}

/* Empty class for catalog text, mainly for specific element identification */
.catalogtitle-catalogtext {

}
