.catalogtitle-container {
  /* Simple padding to center text nicely */
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 20px;
}

.catalogtitle-catalogtext {
  /* Add padding so words space nicely */
  margin-left: 5px;
}
