.storetitle-container {
  /* Simple padding to center text nicely */
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 20px;
}

/* Formatting for inserted store title ex. 'Harvard' */
.storetitle-title {
  text-align: right;
}

.storetitle-storetext {
  /* Add padding so words space nicely */
  margin-left: 5px;
}
