.apptag-single-tag {
  font-size: 18px;
  margin-right: 5px;
  white-space: nowrap;
}

.apptag-left-side {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.apptag-right-side {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
