/*Footer needs to always show on the screen*/
.apppagefooter-background {
    display: flex;

    /* Footer takes up bottom of the page */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;

    /* Colors footer background gray */
    background-color: gray;
    
    /* Aligns elements in the footer */
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding: 5px;
}

.apppagefooter-button {
    display: flex;
    padding: 2px;
}