/*Footer needs to always show on the screen*/
.apppagefooter-container {
    display: flex;
    font-size: 100px;
    /* Footer takes up bottom of the page */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;

    /* Colors footer background gray */
    background-color: gray;
    
    /* Aligns elements in the footer */
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding: 10px;
}

.apppagefooter-button {
    display: flex;
    font-size: 100px !important; 
    padding: 2px;
}