.tagvaluefiltercheckbox-container {
  display: flex;
  flex-grow: 1;
  align-items: baseline;

  overflow: hidden;
}

.tagvaluefiltercheckbox-label {
  text-overflow: ellipsis;
}

/* Styling for checkboxes */
.form-check-input {
  /* Have to use !important to override bootstrap default */
  margin-top: .5rem !important;
}
