/* Step container styling */
.step-container {
  display: flex;
}

.step-badge {
  margin-right: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 1.5em;
  height: 1.5em;
  text-align: center;
}

.step-bigBadge {
  min-width: 2em;
}