/* Styling for logo container */
.logo-container {
  display: inline-block;

  /* Aligns container contents in the center */
  position: relative;
  top: 0;
  left: calc(50% - 60px);
  text-align: center;

  height: 0;
  width: 120px;

  z-index: 1000;
}

/* Styling for logo image */
.logo-image {
  height: 120px;
}
