.tagfilter-container {
  /* Dimensions */
  width: 260px;
  display: inline-block;
  vertical-align: top;

  /* Padding */
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;

  /* Margins */
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 0;
  margin-bottom: 8px;

  /* Rounded edges */
  border-radius: 8px;

  /* Font styling */
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}

.tagfilter-title {
  text-align: center;
  justify-content: center;
}

.tagfilter-card {
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.tagfilter-cardbody {
  border-radius: 8px;

  /* Padding and margins */
  margin: 0;
  padding: 5px;
}
