.tagfilter-container {
  /* Display */
  display: inline-block;

  /* Dimensions */
  min-width: 60rem;

  /* Rounded edges */
  border-radius: 20px;

  /* Align children in the center */
  align-content: center;

  /* Font styling */
  color: white;
  font-size: 25px;
  font-weight: 500;

  /* Padding and margins */
  padding: 0;
}

.tagfilter-title {
  text-align: center;
  justify-content: center;
}

.tagfilter-card {

  color: black;
  font-weight: 500;
  font-size: 18px;

  /* Padding and margins */
  margin-bottom: 0 !important;
}

.tagfilter-cardbody {
  margin: 10px;
}

.tagfilter-header {
  align-self: center;
}
