/* The container for the FilterToggle component */
.filtertoggle-container {
  /* Using flex to keep children on center axis */
  display: flex;

  /* Dimensions */
  height: 30px;
  width: 100%;

  /* Text formatting */
  font-size: 20px;

  /* Align children along center and to the right */
  align-items: center;
  justify-content: flex-end;

  /* Padding and margin for alignment */
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa-caret-right, .fa-caret-down {
  font-size: 35px;
  color: white;
}
