.filtertoggle-container {
  /* Dimensions */
  height: 50px;
  width: 100%;

  /* Text formatting */
  font-size: 20px;
  text-align: right;

  /* Padding and margin for alignment */
  padding-top: 10px;
  padding-bottom: 10px;
}
