/* Styling for the entire AppPage */
.appPage-container {
  /* appPage uses flexbox and makes elements align in a column*/
  display: flex;
  flex-direction: column;

  /* app page takes up height of parent*/
  height: 100%;
}

/* Styling for the app page's main content */
.appPage-content {
  /* Sets flex-grow, flex-shrink, flex-basis */
  flex: 1 0 auto;
  /* Scrolls when contents don't fit screen*/
  overflow-y: scroll;

  /* Add padding so the footer doesn't obscure the content */
  padding-bottom: 85px;

  min-height: 100px;
}

/* Styling for the app page footer*/
.appPage-footer {
  /* Sets flex-grow, flex-shrink, flex-basis */
  flex: 0 0 auto;

  /* Makes footer sticky, at the bottom, and fills width of page */
  position: fixed;
  width: 100%;
  bottom: 0;
  
  height: 85px;

  /* Footer is the top content */
  z-index: 1;
}
