/* Styling for area around the screenshots */
.screenshots-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: device-width;
}
.screenshots-elem {
    flex: 1;
    min-width: 25rem;
}