/* Styling for area around the screenshots */
.screenshots-container {
    /* have screenshots in a flexbox */
    display: flex;

    /* screenshot placement styling */
    flex-flow: wrap;
    justify-content: space-around;
    width: device-width;
}

/* Styling for each screenshot */
.screenshots-elem {
    /* styling to let container know when to wrap around */
    flex: 1;
    min-width: 25rem;
    max-width: 40rem;
}
