.screenshots-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-content: stretch;
    width: device-width;
    height: 650px;
    max-width: 100%;
    overflow: auto;
}
.screenshots-elem {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 40rem;
    min-width: 25rem;
    padding: 3px;
}